/*
---
name: nav
tag:
  - base
category:
  - object
  - object/component
  - object/component/nav
---

ナビゲーションです。

```html
<nav>
  <ul class="c-nav">
    <li class="c-nav__item"><a class="c-nav__link" href="#">HOME</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#">ABOUT</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#">CONTACT</a></li>
    <li class="c-nav__item"><a class="c-nav__link" href="#">ACCESS</a></li>
  </ul>
</nav>
```

*/

.c-nav {
  // breakpoints
  $brk-1: 37.5em; // 600px

  // smartphone
  @media screen and (max-width: $brk-1) {
    list-style: none;
    display: flex;

    // telボタン
    &__tel {
      display: block;
      border-left: 1px solid #eee;
      padding: 8px 22px 4px;
      text-align: center;
      text-decoration: none;
      cursor: pointer;
      color: #a0a0a0;
      // @media screen and (min-width: $brk-1) {
      //   border: none;
      //   padding: 0;
      // }
    }

    // toggleボタン
    &__toggle {
      border-left: 1px solid #eee;
      padding: 8px 16px 4px;
      cursor: pointer;
      // @media screen and (min-width: $brk-1) {
      //   display: none;
      // }
    }

    // ハンバーガーアイコン
    &__icon {
      // ハンバーガーアイコン
      &--menu {
        background-color: #a0a0a0;
        display: block;
        margin: 16px auto 4px;
        height: 2px;
        width: 24px;
        transition: all .3s cubic-bezier(.5, 0, 0, .5);
        // オープン時に真ん中を消す
        .is-open & {
          background-color: rgba(#fff, 0);
        }
        // 上の線
        &:before {
          content: "";
          position: absolute;
          background-color: #a0a0a0;
          display: block;
          height: 2px;
          width: 24px;
          margin-top: -8px;
          transition: all .3s cubic-bezier(.5, 0, 0, .5);
          // オープン時に斜めの線に
          .is-open & {
            margin-top: 0;
            transform: rotate(45deg);
          }
        }
        // 下の線
        &:after {
          content: "";
          position: absolute;
          background-color: #a0a0a0;
          display: block;
          height: 2px;
          width: 24px;
          margin-top: 8px;
          transition: all .3s cubic-bezier(.5, 0, 0, .5);
          // オープン時に斜めの線に
          .is-open & {
            margin-top: 0;
            transform: rotate(-45deg);
          }
        }
      }
      // 電話アイコン
      &--tel {
        line-height: 1;
        margin: 0;
        padding: 0;
        &:before {
          content: "\f095";
          font-family: Fontawesome;
          display: block;
          line-height: 1;
          font-size: 2.4rem;
          margin: 6px 0 -8px;
          transition: all .3s cubic-bezier(.5, 0, 0, .5);
        }
      }
    }

    // アイコン下のテキスト
    &__text {
      color: #555;
      font-size: 1.2rem;
      &--menu {
        transition: all .3s cubic-bezier(.5, 0, 0, .5);
        // 親が開いているとき
        .is-open & {
          color: rgba(#555, .2);
        }
      }
      &--tel {
        transition: all .3s cubic-bezier(.5, 0, 0, .5);
        // 親が開いているとき
        .is-open & {
          // content: "CLOSE";
          color: rgba(#555, .2);
        }
      }
    }

    // ナビゲーションの中身
    &__inner {
      // 最初は非表示
      // display: none;
      background-color: #fff;
      list-style: none;
      position: absolute;
      top: -500px;
      left: 0;
      width: 100%;
      max-width: 375px;
      transition: all 2s cubic-bezier(0.19, 1, 0.22, 1); //easeOutExpo 戻るとき
      z-index: -1;
      box-shadow: 0 0 32px rgba(#000, .5);
      // @media screen and (min-width: $brk-1) {
      //   display: flex;
      //   position: relative;
      //   top: 0;
      //   left: 0;
      // }
      // 開いているとき
      .c-nav__toggle.is-open + & {
        transform: translateY(562px);
        transition: all 1s cubic-bezier(0.19, 1, 0.22, 1); //easeOutExpo 開くとき
      }
      // アコーディオン
      &--accordion {
        transition: .001s;
        position: relative;
        top: 0;
        left: 0;
      }
    }

    &__item {
      display: block;
      position: relative;
      background-color: #eee;
      padding: 12px 16px;
      text-decoration: none;
      border-bottom: 1px solid #ddd;
      color: #333;
      cursor: pointer;
      &:hover {
        color: #333;
      }
      &:after {
        content: "\f078";
        font-family: "Fontawesome";
        font-size: 1.2rem;
        color: #777;
        position: absolute;
        top: 50%;
        right: 24px;
        margin-top: -10px;
        transition: all .4s cubic-bezier(.5, 0, 0, .5);
      }
      &.is-open {
        &:after {
          transform: rotate(-180deg);
        }
      }
      // リンクアイテム
      &[href] {
        &:after {
          content: "\f054";
          font-family: "Fontawesome";
          font-size: 1.2rem;
          color: #777;
          position: absolute;
          top: 50%;
          right: 24px;
          margin-top: -8px;
        }
      }
      // @media screen and (min-width: $brk-1) {
      //   background-color: transparent;
      //   border: none;
      // }
      // 第２階層
      &--2nd {
        // 閉じている状態
        padding-top: 0;
        padding-bottom: 0;
        line-height: 0;
        opacity: 0;
        visibility: hidden;
        border: none;
        transition: all .3s cubic-bezier(.5, 0, 0, .5);
        // 開いている状態
        .nav-accordion.is-open + .c-nav__inner--accordion & {
          padding: 12px 16px;
          background-color: #f9f9f9;
          line-height: 1.8;
          opacity: 1;
          visibility: visible;
          border-bottom: 1px solid #d9d9d9;
        }
        // @media screen and (min-width: $brk-1) {
        //   display: none;
        // }
      }
      // 閉じるボタン
      &--close {
        background-color: #333;
        color: #fff;
        text-align: center;
        border-bottom: none;
        &:hover {
          color: #fff;
        }
        &:after {
          content: none;
        }
      }
    }
  }

  // Bigger than a smartphone
  @media screen and (min-width: $brk-1) {

    &__inner {
      display: flex;
      list-style: none;
      &--accordion {
        display: none;
        &:hover {
          display: block;
          position: absolute;
          background-color: #555;
        }
      }
    }

    &__item {
      display: block;
      text-decoration: none;
      padding: 16px;
      cursor: pointer;
      &--close {
        display: none;
      }
      &#nav-accordion:hover + .c-nav__inner--accordion {
        display: block;
        position: absolute;
        background-color: #555;
      }
    }
  }

}
