block variables
  //- 変数を管理 _variables.pugを参照
  include _variables
doctype html
html(lang="ja")
  head
    include _meta

  body.l-body
    include _header

    block content

    include _footer
    //- body閉じタグ直前のJavascript
    include _script
