// navigation
nav
  ul.c-nav
    li.c-nav__item: a.c-nav__link(href="#") HOME
    li.c-nav__item: a.c-nav__link(href="#") ABOUT
    li.c-nav__item: a.c-nav__link(href="#") CONTACT
    li.c-nav__item: a.c-nav__link(href="#") ACCESS
// /navigation
