extend /_include/_layout
append variables
  //- Required
  - var pageTitle= 'title';
  - var siteDesc= 'description'

block content
  div.l-content
    .l-main
      .l-main__container
        p test
    .l-main
      .l-main__container
        p test
    .l-main
      .l-main__container
        p test
