extend /_include/_layout
append variables
  //- Required
  - var pageTitle= 'title';
  - var siteDesc= 'description'

block content
  main.l-main
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
    p test
