/*
---
name: header
tag:
  - layout
category:
  - layout
  - layout/header
---

ヘッダーのスタイルです。

*/

.l-header {
  background-color: #f9f9f9;
  z-index: 10;
  &__inner {
    flex: 1 0 auto;
    margin: 0 auto;
    padding: 0 0 0 16px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: $base-content-width;
    background-color: #f9f9f9;
  }
}
